<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="black-color" name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="black-background">
<div *ngIf="showLoader" class="loader-overlay full-width absolute flex justify-center align-items-center">
  <ion-card class="loader absolute flex justify-center align-items-center">
    <img src="../../assets/imgs/spinner.gif" alt="">
  </ion-card>
</div>
  <ion-grid>
    <div class="flex flex-col gap">
      <div class="flex flex-col">
        <ion-card
          class="
            blue-background
            border-radius-1-rem
            flex
            justify-center
            align-items-center
          "
        >
          <ion-card-content class="full-width">
            <div class="flex flex-col justify-center align-items-center">
                  <h1 class="white-color bold">{{ getCurrentMonth() }} </h1>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="flex flex-col">
        <ion-card
          class="
            white-background
            border-radius-1-rem
            height-10-rem
            flex
            justify-center
            align-items-center
          "
        >
          <ion-card-content class="full-width">
            <div class="flex flex-col justify-center align-items-center">
              <div>
                <h2 class="black-color bold">
                  <h2 class="black-color bold">TOTAL BALANCE</h2>
                </h2>
              </div>
              <div>
                <h1 [ngClass]="totalBalance > 0 ? 'green-color' : 'red-color'" class="bold">{{ totalBalance.toString()[0] === '-' ? '-R' + totalBalance.toString().slice(1)  : totalBalance}}</h1>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="flex flex-col justify-between">
        <div class="flex justify-between full-width">
          <div class="flex flex-col half-card">
            <ion-card (click)="redirectToPage('BudgetPage')"
              class="
                white-background
                border-radius-1-rem
                height-10-rem
                flex
                justify-center
                align-items-center
              "
            >
              <ion-card-content class="full-width">
                <div class="flex flex-col justify-center align-items-center">
                  <div class="flex justify-end full-width green-color">
                    <h2 class="black-color bold medium-font">
                      <ion-icon color="secondary" name="add-circle"></ion-icon>
                    </h2>
                  </div>
                  <div class="flex flex-col full-width justify-start">
                    <h3 class="black-color bold">TOTAL BUDGET</h3>
                    <h1 class="green-color bold">+R{{ budgetArrTotal }} </h1>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="flex flex-col half-card">
            <ion-card (click)="redirectToPage('ExpensesPage')"
              class="
                white-background
                border-radius-1-rem
                height-10-rem
                flex
                justify-center
                align-items-center
              "
            >
              <ion-card-content class="full-width">
                <div class="flex flex-col justify-center align-items-center">
                  <div class="flex justify-end full-width red-color">
                    <h2 class="black-color bold medium-font">
                      <ion-icon color="danger" name="remove-circle"></ion-icon>
                    </h2>
                  </div>
                  <div class="flex flex-col full-width justify-start">
                    <h3 class="black-color bold">TOTAL EXPENSE</h3>
                    <h1 class="red-color bold">-R{{ expensesTotal }}</h1>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
      <div class="flex justify-between padding-left-right-10px">
        <div class="flex flex-col">
          <h4 class="white-color">Recent Expenses</h4>
        </div>
        <div class="flex flex-col">
          <h4 (click)="viewAllExpenses()" class="green-color">View All</h4>
        </div>
      </div>
      <div class="flex flex-col">
        <ion-card *ngFor="let item of recentFiveExpenses"
        class="white-background border-radius-1-rem height-7-rem flex"
      >
        <ion-card-content
          class="full-width flex justify-between align-items-center"
        >
          <div class="flex gap align-items-center">
            <div
              class="
                rectangular-section
                flex
                justify-center
                align-items-center
              "
            >
              <ion-icon class="large-font-2-5-rem" [name]="item.category.icon"></ion-icon>
            </div>
            <div class="flex flex-col gap">
              <h2 class="black-color bold medium-font">{{ item.title }}</h2>
              <h2 class="black-color bold">{{ item.category.name }}</h2>
            </div>
          </div>
          <div class="flex flex-col justify-center align-items-center">
            <h1 class="red-color bold medium-font">-R{{ item.amount }}</h1>
          </div>
        </ion-card-content>
      </ion-card>
      </div>
    </div>
  </ion-grid>
</ion-content>
