<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="white-color" name="menu"></ion-icon>
    </button>
    <ion-title>Expenses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="black-background"><div *ngIf="showLoader" class="loader-overlay full-width absolute flex justify-center align-items-center">
  <ion-card class="loader absolute flex justify-center align-items-center">
    <img src="../../assets/imgs/spinner.gif" alt="">
  </ion-card>
</div>
  <ion-grid>
    <div class="flex flex-col gap">
      <div class="flex flex-col">
        <ion-card
          class="
            white-background
            border-radius-1-rem
            height-7-rem
            flex
            justify-center
            align-items-center
          "
        >
          <ion-card-content class="full-width">
            <div class="flex flex-col justify-center align-items-center">
              <div>
                <h2 class="black-color bold">
                  <h2 class="black-color bold">TOTAL EXPENSES</h2>
                </h2>
              </div>
              <div>
                <h1 class="red-color bold">R{{ expensesTotal }}</h1>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="flex justify-between padding-left-right-10px">
          <h4 class="white-color">All Expenses</h4>
          <div class="flex flex-col justify-center">
            <h4 (click)="openExpenseDialog()" class="red-color"><ion-icon class="bold" name="add-circle"></ion-icon> Add New Expense</h4>
          </div>
      </div>
      <div class="flex flex-col gap">
        <ion-card *ngIf="!expenses?.length"
          class="white-background border-radius-1-rem height-10-rem flex"
        >
          <ion-card-content
            class="full-width flex justify-center align-items-center"
          >
            <div class="flex flex-col justify-center align-items-center">
              <h1 class="red-color bold medium-font">No Expenses Captured Yet!</h1>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card (click)="openUpdateExpenseDialog(expense)" *ngFor="let expense of expenses"
          class="white-background border-radius-1-rem height-7-rem flex"
        >
          <ion-card-content
            class="full-width flex justify-between align-items-center"
          >
            <div class="flex gap align-items-center">
              <div
                class="
                  rectangular-section
                  flex
                  justify-center
                  align-items-center
                "
              >
                <ion-icon class="large-font-2-5-rem" [name]="expense.category.icon"></ion-icon>
              </div>
              <div class="flex flex-col gap">
                <h2 class="black-color bold medium-font">{{ expense.title }}</h2>
                <h2 class="black-color bold">{{ expense.category.name }}</h2>
              </div>
            </div>
            <div class="flex flex-col justify-center align-items-center">
              <h1 class="red-color bold medium-font">-R{{ expense.amount }}</h1>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-grid>
</ion-content>
