// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #248eb1,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
);

$primary-color: #248eb1;
$white: #fff;
$black-color: #000;
$green-color: #32db64;
$red-color: #f53d3d;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.primary-color {
  color: $primary-color !important;
}

.white-color,
ion-navbar ion-icon,
.toolbar-title-md,
.rectangular-section {
  color: $white !important;
}

.black-color {
  color: $black-color;
}

.green-color {
  color: $green-color !important;
}

.red-color {
  color: $red-color !important;
}
.blue-background,
.toolbar-background-md {
  background: $primary-color !important;
}

.black-background {
  background: $black-color !important;
}

.green-background,
.success {
  --background: $green-color !important;
}

.red-background,
.failed {
  --background: $red-color !important;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column !important;
}

.justify-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.height-10-rem {
  height: 10rem !important;
}

.height-7-rem {
  height: 7rem !important;
}

.height-6-rem {
  height: 6rem !important;
}

.full-width {
  width: 100%;
}
.half-card {
  width: 50% !important;
}

.gap {
  gap: 0.1rem;
}

.gap-2-rem {
  gap: 2rem;
}

.border-radius-1-rem {
  border-radius: 1rem !important;
}

.justify-end {
  justify-content: flex-end;
}

.medium-font {
  font-size: 1.6em !important;
}
.large-font-2-5-rem{
  font-size: 2.5rem;
}
.large-font {
  font-size: 3em !important;
}

.justify-start {
  justify-content: start !important;
}

.align-start {
  align-items: flex-start !important;
}

.padding-left-right-10px {
  padding-left: 10px;
  padding-right: 10px;
}

// .rectangular-section {
//   width: 9rem;
//   height: 7.5rem;
//   background: $black-color;
//   margin-right: 1.5rem;
// }

.rectangular-section {
  width: 5rem !important;
  height: 5rem !important;
  background: $black-color;
  margin-right: 1.5rem;
}

.loader-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
  height: calc(100% - 56px);
  z-index: 999999998;
  .loader {
    z-index: 999999999;
    img {
      width: 120px;
      height: 120px;
    }
    background-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: none !important;
  }
}

.absolute {
  position: absolute !important;
}

// .back-button.show-back-button{
//   display: none !important;
// }

.bar-button-menutoggle, .bar-button-menutoggle-md{
  display: flex !important;
}
